<html>
  <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
<body>
  
  <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;">
  </div>
  <span id="inner-text">
  <h1>Welcome</h1>
  <p style="font-size:160%;">Welcome to the interactive C tutorial.</p>
  <p  style="font-size:160%;">Whether you are an experienced programmer or not, this website is intended for everyone who wishes to learn the C programming language.</p>
  <p style="font-size:160%;">There is no need to download anything - Just click on the chapter you wish to begin from, and follow the instructions. Good luck!</p>
  <br><br>
  <h2><b>Table of Contents :</b></h2>
  <br><br>
  <h2>  Learn the Basics</h2>
  <br>
  
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p style="font-size:160%">  1. Hello World !</p>
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p style="font-size:160%;">A simple C program to display "Hello, World!" on the screen. Since, it's a very simple program, it is often used to illustrate the syntax of a programming language.
          </p>
  
  
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <p style="font-size:160%">  2. Variables and types </p>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p style="font-size:160%;">    C Programming/Variables. ... Variables are simply names used to refer to some location in memory – a location that holds a value with which we are working. It may help to think of variables as a placeholder for a value. You can think of a variable as being equivalent to its assigned value.</p>
  <br>
  <p style="font-size:160%">The Programming language C has two main variable types
  <br>
  -Local Variables
  <br>
  -Global Variables
  </p>
  
  
  
  </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p style="font-size:160%">  3. Arrays</p>
  
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <p style="font-size:160%">  Arrays a kind of data structure that can store a fixed-size sequential collection of elements of the same type. An array is used to store a collection of data, but it is often more useful to think of an array as a collection of variables of the same type.
  
  Instead of declaring individual variables, such as number0, number1, ..., and number99, you declare one array variable such as numbers and use numbers[0], numbers[1], and ..., numbers[99] to represent individual variables.<br> A specific element in an array is accessed by an index.
  
  All arrays consist of contiguous memory locations. The lowest address corresponds to the first element and the highest address to the last element.</p></div>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  4. Multidimensional Arrays</p>
        </button>
      </h5>
    </div>
  
    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
          The simplest form of multidimensional array is the two-dimensional array. A two-dimensional array is, in essence, a list of one-dimensional arrays. To declare a two-dimensional integer array of size [x][y], you would write something as follows −
  
  
  <br> type arrayName [ x ][ y ];
  <br>
  Where type can be any valid C data type and arrayName will be a valid C identifier. A two-dimensional array can be considered as a table which will have x number of rows and y number of columns.
        </p>
  
  
      </div>
    </div>
  </div>
  
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  6. Loops</p>
        </button>
      </h5>
    </div>
  
    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
          A for loop is a repetition control structure that allows you to efficiently write a loop that needs to execute a specific number of times.
  
  </p>
  
  
      </div>
    </div>
  </div>
  
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  7. While Loop</p>
        </button>
      </h5>
    </div>
  
    <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
        A while loop in C programming repeatedly executes a target statement as long as a given condition is true.
  </p>
  
  
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  8. Functions</p>
        </button>
      </h5>
    </div>
  
    <div id="collapse8" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
        A function is a group of statements that together perform a task. Every C program has at least one function, which is main(), and all the most trivial programs can define additional functions. You can divide up your code into separate functions.</p>
  
  
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  <br>
  <br>
  
  <h3>Advanced Topics</h3>
  
  
  
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  1. Pointers</p>
        </button>
      </h5>
    </div>
  
    <div id="collapse9" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
        A pointer is a variable which contains the address in memory of another variable. We can have a pointer to any variable type. The unary or monadic operator & gives the ``address of a variable''. The indirection or dereference operator * gives the ``contents of an object pointed to by a pointer''.
  
      </div>
    </div>
  </div>
  
  
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  2. Structures</p>
        </button>
      </h5>
    </div>
  
    <div id="collapse10" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
          Arrays allow to define type of variables that can hold several data items of the same kind. Similarly structure is another user defined data type available in C that allows to combine data items of different kinds.
  
    Structures are used to represent a record. Suppose you want to keep track of your books in a library. You might want to track the following attributes about each book :-
  <br>
    <br>-Title
    <br>-Author
    <br>-Subject
  <br>
    -Book ID
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  3. Function Arguments </p>
        </button>
      </h5>
    </div>
  
    <div id="collapse11" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
          A function in C can be called either with arguments or without arguments. These function may or may not return values to the calling functions. All C functions can be called either with arguments or without arguments in a C program. Also, they may or may not return any values.
  
    <br>There are following categories:<br>
  
    1. Function with no argument and no return value : When a function has no arguments, it does not receive any data from the calling function. Similarly when it does not return a value, the calling function does not receive any data from the called function.
      <br>
    2. Function with arguments but no return value : When a function has arguments, it receive any data from the calling function but it returns no values.
  </p></div>
    </div>
  </div>
  
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  4. Recursion </p>
        </button>
      </h5>
    </div>
  
    <div id="collapse12" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
        Recursion is the process of repeating items in a self-similar way. In programming languages, if a program allows you to call a function inside the same function, then it is called a recursive call of the function.
        <br>
        The C programming language supports recursion, i.e., a function to call itself. But while using recursion, programmers need to be careful to define an exit condition from the function, otherwise it will go into an infinite loop.
  
  Recursive functions are very useful to solve many mathematical problems, such as calculating the factorial of a number, generating Fibonacci series, etc.<p></div>
  </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse13" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  5. Linked Lists </p>
        </button>
      </h5>
    </div>
  
    <div id="collapse13" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
      A linked list is a data structure that consists of sequence of nodes. Each node is composed of two fields: data field and reference field which is a pointer that points to the next node in the sequence
      <p></div>
  </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse14" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  6. Union </p>
        </button>
      </h5>
    </div>
  
    <div id="collapse14" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
      A union is a special data type available in C that allows to store different data types in the same memory location. You can define a union with many members, but only one member can contain a value at any given time. Unions provide an efficient way of using the same memory location for multiple-purpose.
      <p></div>
  </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  7. Binary Tree </p>
        </button>
      </h5>
    </div>
  
    <div id="collapse15" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
          <b>Trees: </b>Unlike Arrays, Linked Lists, Stack and queues, which are linear data structures, trees are hierarchical data structures.
      <br><b>
      Tree Vocabulary:</b> The topmost node is called root of the tree. The elements that are directly under an element are called its children. The element directly above something is called its parent. For example, a is a child of f and f is the parent of a. Finally, elements with no children are called leaves
      <p></div>
  </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse16" aria-expanded="true" aria-controls="collapseOne">
        <p style="font-size:160%">  8. Dynamic Memory Allocation  </p>
        </button>
      </h5>
    </div>
  
    <div id="collapse16" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p style="font-size:160%;">
          As you know, you have to declare the size of an array before you use it. Hence, the array you declared may be insufficient or more than required to hold data. To solve this issue, you can allocate memory dynamically.
  
  Dynamic memory management refers to manual memory management. This allows you to obtain more memory when required and release it when not necessary.
  
  
  <br>Although C inherently does not have any technique to allocate memory dynamically, there are 4 library functions defined under <b>stdlib.h </b>for dynamic memory allocation.
      <p></div>
  </div>
  </div>
  </span>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
</html>