
  p{
    color: rgb(255, 254, 253);
}
footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:rgb(35, 2, 37);
}
.navbar {
color: rgb(249, 244, 250);
background-color: rgb(84, 21, 100);
}
.nav-item{
color: rgb(249, 244, 250);
}
