<h3>C Lang</h3>
<div>

<iframe src="https://repl.it/repls/CalculatingBigheartedParameters" align-right width="1120" height="400"
></iframe>
</div>
<div>
<h3>CPP Lang</h3>
    <iframe src="https://repl.it/repls/KlutzySteelVoxel" align-right width="1120" height="400"
    ></iframe>
    </div>
    <h3>PYTHON</h3>
    <div>

        <iframe src="https://repl.it/repls/NovelCompetitiveWebsite" align-right width="1120" height="400"
        ></iframe>
        </div>
   <br>
   <br>
   <br>
   <p>....</p>